.login-main {
  height: 95vh;
  width: auto;
  background: #d9d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main .left {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main .right {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-height: 500px; */
  height: auto;
  gap: 20px;
}

.login-main .right .form-title {
  font-size: 28px;
  font-weight: 500;
}

.right .input-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.right .input-wrapper label {
  font-size: 16px;
  padding: 0 5px;
}

.right .input-wrapper input {
  width: 280px;
  height: 45px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  background: #e6ebec;
}
.right .signin-footer1 {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: -15px;
}
.right .signin-footer1 a {
  cursor: pointer;
  /* text-decoration: underline; */
  color: rgb(228, 67, 27);
}

.right .login-btn-div {
  width: 280px;
  margin-right: 15px;
}
.right .login-btn-div button {
  width: 100%;
  border-radius: 5px;
  height: 45px;
  outline: none;
  border: none;
  background: #6577ea;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.right .login-btn-div button:hover {
  background: #5a6def;
}
.right .signin-footer3 {
  width: 280px;
  font-size: 14px;
}
.right .signin-footer3 p {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
}
.right .signin-footer3 .thin-line {
  width: 20px;
  height: 1px;
  background: #706e6e;
}
.social-icons-div {
  display: flex;
  gap: 15px;
  margin-top: 18px;
}
.social-icons {
  width: 35px;
  height: 35px;
}
.register-navigator {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.register-navigator a {
  margin-left: 5px;
  cursor: pointer;
  color: rgb(228, 67, 27);
}
